*{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: 0;
   
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: beige;
}



/* Navbar-------------------------------------*/

.nav-box{
    background-color: orange;
    border-radius: 20px;
    box-shadow: 2px 2px  gold ;
    position: fixed;
    top: 0px;
    z-index: 100;
    

}
.nm{
    margin-bottom: 100px;
}

.logo{
    width: 40px;
    height: 40px;
}

.brand-name{
    color: rgb(173, 239, 21);
    font-size: xx-large;
}

.nav-name{
    color: whitesmoke;
}

.fa{
    margin-right:5px;
}

.nav-name:hover{
    color: rgb(204, 236, 23);

    .fa{
        color: #e6006d;
    }
}


/* Name ----------------------- */

.name{
    
    text-align: center;
    align-items: center;
    justify-content: center;
   
    
    
}

.name-s{
    display: none;
}

.n1{
    color: blue;
    text-shadow: 2px  1px gold;
    margin: 10px;
}
